.tool {
  align-items: center;
  justify-content: space-between;
  display: flex;
  font-size: 16px;
  padding: 2px 5px;
  :hover {
    cursor: pointer;
    color: #4287f5;
  }
 
}
.upload-image {
    max-width: 15px;
  }
